@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
*{
    font-family: "DM sans";
}
.mainPage{
    position: relative;
    display: flex;
    top:12vh;
}

.mainPage{
    display: flex;
    flex-flow: horizontal;
    justify-content: center;
    position: relative;
    display: flex;
    top:12vh;
    
}